.profile{
   height: fit-content;
   margin: 40px 0 51px;
   display: flex;
   justify-content: space-between;
}
@media screen  and (max-width: 768px){
   .profile{
      flex-direction: column;
      margin: 42px 0 36px;
      justify-content: unset;
      align-items: center;
   }
}