.popup__button{
   height: 50px;
   background-color: #000000;
   border-radius: 2px;
   margin: 48px 0 37px;
   font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   color: #FFFFFF;
   transition: background-color .3s ease-out;
   border: 0;
   cursor: pointer;
}
.popup__button:hover{
   background-color: rgba(0, 0, 0, .8);
}
@media screen and (max-width: 768px) {
   .popup__button{
      height: 46px;
      font-size: 14px;
      line-height: 17px;
      margin: 45px 0 25px;
   }     
}
