.table__icon-visiable{
   display: inline-block;
   vertical-align: middle;
   width: 22px;
   height: 19px;
   background-image: url(../../../images/Like.svg);
   background-size: cover;
   background-position: center;
   margin: 5px 0 0 0;
   transition: opacity .3s ease;
}
.table__icon-visiable:hover{
   opacity: .5;
}
.table__icon:checked + .table__icon-visiable{
   background-image: url(../../../images/like-checked.svg);
}
