.table__icon{
   width: 22px;
   height: 19px;
   border: 0px;
   align-self: center;
   background-color: #FFF;
   background-image: url(../../../images/Like.svg);
   background-position: center;
   background-size: cover;
   transition: opacity .3s ease-out;
}
.table__icon:hover{
   opacity: .5;
}
.table__icon:focus{
   outline: 0px;
   background-image: url(../../../images/like-checked.svg);
}
.table__icon:checked{
   border: 0px;
   background-image: url(../../../images/like-checked.svg);
}
