.profile__description{
   height: fit-content;
   display: flex;
   padding: 0;
}
@media screen  and (max-width: 768px){
   .profile__description{
      width: 100%;
      flex-direction: column;
      align-items: center;
   }
}