.table{
   display: grid;
   grid-template-columns: repeat(3, minmax(240px, 1fr));
   grid-template-rows: repeat(auto-fit, 1fr);
   column-gap: 1.5%;
   row-gap: 20px;
}
@media screen  and (max-width: 1200px){
   .table{
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
   }
}
