.profile__icon{
    width: 26px;
    height: 26px;
    background-image: url('../../../images/avatar-redactor.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
}